body{
    background-color: aliceblue;
}


#name {
    padding: 10px;
    
}

#myButton{
    padding: 10px;
    cursor: pointer;
    margin-left: 20px;
    
}

h1{
    text-align: center;
}